@media screen and (max-width: 779px) {
    .nav__list {
    position: fixed;
    left: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav__link {
        padding: 10.5px 17px;
        font-size: 1rem;
        color: #000;
    }

    .nav__list.open {
        left: 0;
    }

    .nav__item{
        margin: 0;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .resto .resto__poster {
        width: 100%;
        height: 250px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
    }

    .resto .review {
        width: auto;
        height: 200px;
    }
}

@media screen and (min-width: 800px) {
    .resto .resto__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .restaurant {
        grid-template-columns: 1fr 1fr;
    }
}
   
@media screen and (min-width: 1200px) {
    .restaurant {
        grid-template-columns: repeat(4, 1fr);
    }
}
   
@media screen and (min-width: 1600px) {
    .restaurant {
        grid-template-columns: repeat(5, 1fr);
    }
}